<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sust.kinblooddemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".notification.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_rounded_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditOtherInfo" />
        <activity android:name=".EditBloodInfo" />
        <activity android:name=".EditPersonalInfo" />
        <activity android:name=".AfterDonorReg" />
        <activity android:name=".Home" />
        <activity android:name=".AfterNotif" />
        <activity android:name=".Profile" />
        <activity android:name=".PasswordReset" />
        <activity android:name=".LoginActivity" />

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Notification" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".DonorRegistration" />
        <activity android:name=".Decision" />
        <activity android:name=".VerificationActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>